<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="mainbody">
        {{>header}}
        <p>This website was created by Caleb Wiederhold as part of the Node.js Developer Course on Udemy. It uses data from mapbox.com and weatherstack.com</p>
        <img class = 'aboutimg' src="./img/kitten.jpg">
    </div>
    {{>footer}}
</body>



</html>